.sidebar {
  background-color: brown;
  height: 100%;
  width: 10%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  
}

.rule-link{   /*classe per a*/
  width: 100% ;
  text-wrap: pretty;
}

.active-rule-link{  /*classe per button*/
  width: 100% ;
  text-wrap: pretty;
  background-color:#84A98C;
}

.rule-title-div{
  display: flex;
  justify-content: center;
  background-color:#354F52;
}

.rule-title {
  text-align: center;
  font-weight: bold;
}

.rule-body{
  height: 100%;
  width: 100%;
  /*background-color: black;*/
  display: flex;;
}

.rule-text-div{
  width: 100%;
  align-content: center;
}

.rule-text-p{
  text-align: center;
}